{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="/js/app.js"></script>
    <title>Document</title>
    <style>
        .profile-view {
            font-size: 12px;
        }

        .profile-ctx {
            display: flex;
            flex-direction: column;
        }

        .profile-ctx>span:nth-child(2) {
            color: #c7bfbf;
            font-size: 12px;
        }

        .btn-input {
            padding: 8px;
            border: 1px solid #efefef;
            width: 400px;
            text-align: left;
            border-radius: 20px;
            color: #d6cccc;
            background-color: white;
        }

        .horizontal-bar {
            height: 1px;
            width: 350px;
            background-color: #c7bfbf;
            ;
        }

        .ctx {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .drop_down {
            border: 1px solid #c7bfbf;
            background-color: white;
            color: black;
            padding: 1px;
            width: 100px;
            border-radius: 20px;
        }

        textarea {
            width: 400px;
            border: none;
            border-radius: none;
            outline: none;
        }

        .ads-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .profile__info h4 {
            padding: 0;
            margin: 0;
            font-size: 13px;
        }

        .profile__info>span {
            font-size: 12px;
        }

        .profile__info>button {
            padding: 5px;
            background-color: white;
            border-radius: 20px;
            border: 1px solid #c7bfbf;
            width: 100px;
        }
    </style>
</head>
{% if request.user.is_authenticated %}

<body>
    <!-- NAVIGATION BAR -->
    <nav>
        <div class="container-fluid bg-white">
            <div class="container mx-auto nav-container">
                <div class="logo">
                    <img src="{% static 'img/logo.png' %}" alt="">
                    <form id="search-form">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" name="search" id="search" spellcheck="true" placeholder="Search">
                    </form>
                </div>

                <!-- NAV LINKS -->
                <ul class="nav-links">
                    <li class="nav-link">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <a href="#">Home</a>
                    </li>
                    <li class="nav-link">
                        <i class="fas fa-network-wired"></i>
                        <a href="#">My Network</a>
                    </li>
                    <li class="nav-link">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        <a href="#">Jobs</a>
                    </li>
                    <li class="nav-link">
                        <i class="fas fa-comments"></i>
                        <a href="#">Messaging</a>
                    </li>
                    <li class="nav-link">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                        <a href="#">Notification</a>
                    </li>
                    <li class="dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{request.user.profile.pic.url}}" class="profile" alt="">
                            me
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
                        </ul>
                    </li>
                    <div class="vr mx-3"></div>
                    <li class="nav-link">
                        <i class="fas fa-chess-board    "></i>
                        <a class="btn btn-light btn-sm" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">work</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Get Hired Faster</a>
                        <a href="#">Try Premium Free</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- BODY CONTAINER -->

    <div class="container-fluid mx-auto my-3 d-flex justify-content-evenly">
        <!-- LEFT SECTION -->
        <div class="side_container">
            <div class="card-style">
                <div class="card-body">
                    <div class="banner">
                        <div style="background-image: url('{% static 'img/banner.png' %}');" class="banner-ctx"></div>
                        <img class="card-profile" src="{{request.user.profile.pic.url}}" alt="">
                    </div>
                    <div class="banner-info">
                        <h6>{{request.user.username}}</h6>
                        <span>
                            Software Developer || Game Developer
                        </span>
                    </div>
                    <div class="container border-top my-3 p-2">
                        <div class="profile-view d-flex justify-content-between mb-1">
                            <span>Who viewed your profile</span>
                            <div class="text-primary fw-bold">2</div>
                        </div>
                        <div class="profile-view d-flex justify-content-between mb-1">
                            <span>impressions of your post</span>
                            <div class="text-primary fw-bold">232</div>
                        </div>
                    </div>
                    <div class="container border-top my-3 p-2">
                        <div class="profile-view d-flex justify-content-between mb-1">
                            <span>Access exclusive tools & sights</span>
                            <div class="text-primary fw-bold">2</div>
                        </div>
                        <div class="profile-view d-flex justify-content-between mb-1">
                            <span> <i class="text-success fa fa-envelope" aria-hidden="true"></i> Get hired faster,Try
                                premium</span>
                            <div class="text-primary fw-bold">232</div>
                        </div>
                    </div>
                    <div class="container border-top my-3 p-2 mb-3">
                        <div class="profile-view d-flex justify-content-between mb-1">
                            <span> <i class="fa fa-anchor" aria-hidden="true"></i> Items</span>
                            <div class="text-primary fw-bold">2</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- MIDDLE SECTION -->
        <div class="feeds-container">
            <!-- POST FORM CONTAINER -->
            <div class="post-form-container">
                <div class="post-form">
                    <img class="post-profile" src="{{request.user.profile.pic.url}}" alt="">
                    <form>
                        <button type="button" class="btn-input mx-3" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            {{request.user.username}} post a picture from school or work
                        </button>
                    </form>
                </div>
                <div class="post-icons">
                    <div class="icon">
                        <i class="fas fa-image"></i>
                        <span>Image</span>
                    </div>
                    <div class="icon">
                        <i class="fas fa-video"></i>
                        <span>Video</span>
                    </div>
                    <div class="icon">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        <span>Job</span>
                    </div>
                    <div class="icon">
                        <i class="fa fa-align-right" aria-hidden="true"></i>
                        <span>Write article</span>
                    </div>
                </div>
            </div>

            <div class="ctx m-1">
                <div class="horizontal-bar"></div>
                <span class="mx-1 text-secondary">sort by</span>
                <span class="mx-1">top</span>
                <i class="fas fa-caret-down"></i>
            </div>

            {% for all_post in data %}
            <div style="width: 32rem;" class="card my-3" id="display1">
                <div class="card-body">
                    <div class="container d-flex mb-2">
                        <img class="post-profile" src="{{all_post.user.profile.pic.url}}" alt="">
                        <div class="profile-ctx m-1">
                            <span class="m-0">{{all_post.user.username}}</span>
                            <span class="skills m-0">Front end Developer || Game Developer</span>
                        </div>
                    </div>
                    <p class="card-text container">{{all_post.title}}</p>
                </div>
                <img height="auto" src="{{all_post.image.url}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <div class="post-icons">
                        <div class="icon">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <span>Like</span>
                        </div>
                        <div class="icon">
                            <i class="fa fa-comment" aria-hidden="true" id="comment-icon"></i>
                            <span>Comment</span>
                        </div>
                        <div class="icon">
                            <i class="fa fa-share" aria-hidden="true"></i>
                            <span>Share</span>
                        </div>
                        <div class="icon">
                            <i class="fab fa-facebook-messenger"></i>
                            <span>Send</span>
                        </div>
                    </div>
                    <div class="accordion" id="accordionExample{{all_post.id}}">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button id="view__comments_button" class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample{{all_post.id}}">
                                <div class="accordion-body" id="display_comments">
                                   



                                    <input type="hidden" name="post_id" id="post_id" value="{{all_post.id}}">
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3 my-1 toggle" id="comment-box">
                        <form id="post-comments" class="container-fluid d-flex">
                            <input id="comment" type="text" class="form-control"
                                placeholder="reply to {{all_post.user.username}}" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            
                            <button class="btn btn-primary" type="submit" id="button-addon2">post</button>
                        </form>
                    </div>

                </div>
            </div>

            {% endfor %}
        </div>
        <!-- ADVERTISE SECTION -->
        <div class="advertise-container">
            <div class="advertise-feeds container-fluid mb-2">
                <div class="container mx-auto my-2 ads-info">
                    <span class="fw-bold">Add to your feed</span>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
                <div class="follow-container d-flex my-2 mb-3">
                    <img class="post-profile" src="{% static 'img/me-about.jpg' %}" alt="">
                    <div class="col mx-2 profile__info">
                        <h4>David James</h4>
                        <span>product manager || snr DevOPs</span>
                        <button> <i class="fa fa-plus" aria-hidden="true"></i> Follow</button>
                    </div>
                </div>
                <div class="follow-container d-flex my-2 mb-3">
                    <img class="post-profile" src="{% static 'img/me-about.jpg' %}" alt="">
                    <div class="col mx-2 profile__info">
                        <h4>David James</h4>
                        <span>product manager || snr DevOPs</span>
                        <button> <i class="fa fa-plus" aria-hidden="true"></i> Follow</button>
                    </div>
                </div>
                <div class="follow-container d-flex my-2 mb-2">
                    <img class="post-profile" src="{% static 'img/me-about.jpg' %}" alt="">
                    <div class="col mx-2 profile__info">
                        <h4>David James</h4>
                        <span>product manager || snr DevOPs</span>
                        <button> <i class="fa fa-plus" aria-hidden="true"></i> Follow</button>
                    </div>
                </div>
            </div>
            <div class="advertise-feeds container-fluid mb-2">
                <div class="container mx-auto my-2 ads-info">
                    <span class="fw-bold">Add to your feed</span>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>


            </div>
        </div>
    </div>



    <!-- SIDE MODELS -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h3 id="offcanvasRightLabel" class="">Work</h3>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container mx-auto">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-title">Visit More LinkedIn Products</h6>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- POST Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">create post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid mb-1">
                        <div class="container d-flex">
                            <img class="post-profile" src="{{request.user.profile.pic.url}}" alt="">
                            <div class="m-1 container-fluid">
                                <span class="m-0">{{request.user.username}}</span>
                                <div class="dropdown">
                                    <button class="drop_down" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-globe" aria-hidden="true"></i> anyone
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form class="my-3" action='' method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="post" id="post" placeholder="What do you want to talk about?"></textarea>
                            <div class="upload_image d-none">
                                <input type="file" name="file" id="file">
                            </div>
                            <img height="400px" id="image" src="" alt="" class="img-container">

                            <div class="modal-footer container-fluid d-flex justify-content-between">
                                <div class="icon-showcase d-flex">
                                    <div class="icon mx-1" id="image_upload">
                                        <i class="fas fa-image"></i>
                                    </div>
                                    <div class="icon mx-1">
                                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                                    </div>
                                    <div class="icon mx-1">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </div>
                                    <div class="icon mx-1">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    </div>
                                    <div class="icon mx-1">
                                        <i class="fas fa-medal"></i>
                                    </div>
                                    <div class="icon mx-1">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    </div>
                                    <div class="icon mx-1">
                                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                    </div>
                                    <div class="vr"></div>
                                </div>
                                <button type="submit" class="btn btn-primary">Post</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>



</body>
{% endif %}

<script>
    //=========GET ALL COMMENTS BY INDEX=================
    const view_buttons = document.querySelectorAll('.accordion');
    view_buttons.forEach(btn =>{
        btn.addEventListener('click',function(e){
            const post_id = e.target.parentElement.parentElement.children[1].children[0].children[0].value;
            console.log(post_id)
            $.ajax({
                method:"GET",
                url:`comment/getComments/${post_id}`,
                success:function(response){
                  for(var item in response.data){
                    console.log(response.data)
                     document.querySelectorAll('#display_comments').forEach((el,index)=>{
                      if((index + 1) === response.data){}
                     })
                  }
                  
                }
            })
        })
    })

   





    //========UPLOAD POST IMAGE ============
    const upload_button = document.getElementById('image_upload');
    const file = document.getElementById('file');
    upload_button.addEventListener('click', function () {
        file.click();
    });

    file.addEventListener('change', function () {
        const chosenFile = this.files[0]
        console.log(chosenFile)
        if (chosenFile) {
            const reader = new FileReader();
            reader.addEventListener('load', function () {
                image.setAttribute('src', reader.result)
            });
            reader.readAsDataURL(chosenFile)
        }
    })


    //=========UPDATE COMMENTS=======================
    const comments = document.getElementById('post-comments');
    comments.addEventListener('submit', function (e) {
        e.preventDefault();
        $.ajax({
            method: 'POST',
            url: "comments/post-comment",
            data: {
                comment: $("comment").val(),
                post: $('#post_id').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
           

            }
        })
    })
</script>




<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

</html>