{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">

    <title>REGISTRATION</title>
</head>
<body>
    <section>
        <form method="post" action="">
            {% csrf_token %}
            <h3>CREATE AN ACCOUNTS</h3>
            <div class="wrapper">
                <div class="input-wrapper">
                    <input type="text" id="username" placeholder="username" name="username" required>
                </div>
            </div>
            <div class="wrapper">
                <div class="input-wrapper">
                    <input type="email" id="email" placeholder="email" required name="email">
                </div>
            </div>
            <div class="wrapper">
                <div class="input-wrapper">
                    <input type="password" id="password" placeholder="password" required name="password1">
                </div>
            </div>
            <div class="wrapper">
                <div class="input-wrapper">
                    <input type="password" id="password" placeholder="re-peat password" required name="password2">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>

            <a class="my-3" href="{% url 'login' %}">Already have an accounts?</a>
            {% for message in messages %}
            <div class="card">
                <div class="card-body text-danger">
                 {{message}}
                </div>
              </div>
            {% endfor %}
        </form>
        
    </section>

</body>
<script src="{% static '/js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</html>